/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#loginAnchorPane{
	-fx-background-color: linear-gradient(to top right, #172235, #838FA3);
}

.separator .line {
    -fx-border-width: 0.1;    
}
#userTextF{
	-fx-background-color: transparent ;
	-fx-text-fill: white;
}
#passTextF{
	-fx-background-color: transparent ;
	-fx-text-fill: white;
}
#signInBtn{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #838FA3;
	-fx-cursor: HAND;	
}
#signInBtn:hover{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #EEF0F2;
	-fx-cursor: HAND;	
}
#textArea{
	-fx-background-color: transparent ;
	-fx-text-fill: white;
}
#forgotPass:hover{
	-fx-text-fill: #069BFF; 
	-fx-cursor: HAND;
}
#closeBtn{
	-fx-cursor: HAND;
}

